.image,
.imageWrapper {
  vertical-align: middle;
  display: inline-block;
}

.alignCenter {
  text-align: center;
}

.ratingWrapper {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.headerSummary {
  font-weight: 500;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.wrapper {
  color: white;
  max-width: 100%;
  margin: 0 auto;
}

.header {
  font-size: 36px;
  text-align: center;
  color: white;
  margin: 20px auto 15px auto;
}

.description {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
}

.buttonWrapper {
  margin-top: 35px;
}

.ratingSection {
  margin-top: 60px;
}

.rating {
  font-weight: 500;
  font-size: 20px;
  text-align: left;
}

.rating span {
  margin-right: 15px;
}

.ratingText {
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  margin-top: 5px;
}

.ratingText a {
  color: white;
  text-decoration: underline;
}

@media only screen and (max-width: 1024px) {
  .header {
    font-size: 32px;
  }
}